.projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.projects__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projects__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.projects__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 17rem;
    margin-bottom: 2rem;
}

.projects__header h2 {
    text-align: left;
}

.projects__header a {
    color: #fff;
    text-decoration: underline;
}

/* .projects__chips {
    margin-top: 2rem;
    display: flex;
    justify-content: right;
} */