header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    margin-top: 24rem;
}

.button {
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 2.6rem;
    gap: 1.2rem;
}

.profile-picture {
    background-color: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 11rem);
    overflow: hidden;
}