.nav {
    width: 100%;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 45%;
    transform: translateX(-50%);
    display: flex;
    gap: 3.5rem;
    font-size: 1.6rem;
    justify-content: right;
}

.nav a {
    color: #fff;
}

.nav a:hover {
    color: var(--color-light);
}

.nav-link {
    display: inline-block;
    position: relative;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}